@page "/create_reservation"
@using RestaurantManager.Classes
@inject NavigationManager navigation

<h2 style="display: flex; justify-content: center;">Create Reservation</h2>

<div style="margin-top: 30px; display: flex; flex-direction: column; justify-content: center; align-items: center;  height: 50vh; border: solid 1px; border-color: dimgray">
    <!--1st row-->
    <form style="display: flex; justify-content: center;">
        <div>
            <label>Name: </label>
            <input type="text" placeholder="Firstname Lastname" @bind="cus_name">
        </div>
        <div style="margin-left: 20px;">
            <label>Guests: </label>
            <input type="number" placeholder="0" style="width: 40px" @bind="num_guest">
        </div>
        <div style="margin-left: 20px">
            <label>Table Number: </label>
            <select type="text" placeholder="00" style="width: 40px;" @bind="tablenumber">
            @foreach (int table in tables)
            {
                <option>@table</option>
            }
            </select>
        </div>
    </form>
    <!--2nd row-->
    <form style="display: flex; justify-content: center; margin-top: 20px;">
        <div>
            <label>Server ID </label>
            <select type="text" placeholder="000AA" style="width: 80px;" @bind="serv_id">
                @foreach (string ID in IDs)
                {
                    <option>@ID</option>
                }
            </select>
        </div>
        <div style="margin-left: 20px;">
            <label>Server Name: </label>
            <input type="text" placeholder="Firstname Lastname" readonly value="@serv_name">
        </div>
    </form>
    <!--3rd row-->
    <form style="display: flex; justify-content: center; margin-top: 30px;">
    <button style="width: 150px;">Reserve</button>
    </form>
</div>

@code {

    int tablenumber { get; set; }
    string cus_name{ get; set; }
    int num_guest { get; set; }
    string serv_id { get; set; }
    string serv_name { get; set; }

    Database database = new Database();
    List<int> tables = new List<int>();
    List<string> IDs = new List<string>();
    protected override void OnInitialized()
    {
        tables = database.FetchTables();
        IDs = database.FetchServerId();
        serv_name = navigation.GetUriWithQueryParameter()
    }

    private void FetchServerName()
    {
        if (!string.IsNullOrEmpty(serv_id))
        {
            Console.WriteLine($"Fetch server ID: {serv_id}");
            serv_name = database.FetchServerName(serv_id);
            Console.WriteLine($"Fetch server name: {serv_name}");

        }
    }
}
