@page "/create_reservation"
@using RestaurantManager.Classes

<h2 style="display: flex; justify-content: center;">Create Reservation</h2>

<div style="margin-top: 30px; display: flex; flex-direction: column; justify-content: center; align-items: center;  height: 50vh; border: solid 1px; border-color: dimgray">
    <!--1st row-->
    <form style="display: flex; justify-content: center;">
        <div>
            <label>Name: </label>
            <input type="text" placeholder="Firstname Lastname">
        </div>
        <div style="margin-left: 20px;">
            <label>Guests: </label>
            <input type="number" placeholder="0" style="width: 40px">
        </div>
        <div style="margin-left: 20px">
            <label>Table Number: </label>
            <select type="text" placeholder="00" style="width: 40px;" @bind="tablenumber">
            @foreach (int table in tables)
            {
                <option>@table</option>
            }
            </select>
        </div>
    </form>
    <!--2nd row-->
    <form style="display: flex; justify-content: center; margin-top: 20px;">
        <div>
            <label>Server ID </label>
            <input type="text" placeholder="000AA" style="width: 60px;">
        </div>
        <div style="margin-left: 20px;">
            <label>Server Name: </label>
            <input type="text" placeholder="Firstname Lastname">
        </div>
    </form>
    <!--3rd row-->
    <form style="display: flex; justify-content: center; margin-top: 30px;">
    <button style="width: 150px;">Reserve</button>
    </form>
</div>

 @code {
    Database database = new Database();

    List<int> tables = new List<int>();

    int tablenumber;

    protected override void OnInitialized()
    {
        tables = database.FetchTables();
    }
}
