@page "/"

<h1>Hello, welcome to Restaurant Manager!</h1>

<h2 style="display: flex; margin-top: 20px">log in to start</h2>
<!--log in form-->
<div style="display:flex; margin-top: 20px;">
    <div style="width: 30%">
        <label style="margin-right: 5px;">Username: </label>
        <input type="text" placeholder="Firstname Lastname" style="margin-top: 5px;">
    </div>
</div>
<div style="display:flex; margin-top: 10px;">
    <div style="width: 30%">
        <label style="margin-right: 5px;">Password: </label>
        <input type="text" placeholder="*******" style="margin-top: 5px;">
    </div>
</div>
<div style="margin-top: 20px;">
    <button style="width: 150px;">Submit</button>
</div>