@page "/"

<h1 style="display: flex; justify-content: center">Welcome to Restaurant Manager</h1>


<!--log in form-->
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;  height: 50vh;">
    <!--log in form-->
    <form style="display:flex; justify-content: center; margin-top: 30px; margin-bottom: 30px;">
        <div>
            <div>
                <label style="margin-right: 5px;">Username: </label>
                <input type="text" placeholder="Firstname Lastname">
            </div>
        </div>
        <div>
            <div>
                <label style="margin-right: 5px; margin-left: 10px;">Password: </label>
                <input type="text" placeholder="*******">
            </div>
        </div>
        <div>
            <button style="margin-left: 20px; width: 150px;">Submit</button>
        </div>
    </form>
</div>

