@page "/view_reservation"
@using RestaurantManager.Classes

<h2 style="display: flex; justify-content: center;">View Reservation</h2>

<!--input-->
<div style="display:flex; justify-content: left; margin-top: 15px;">
    <label style="margin-right: 5px">Reservation Number: </label>
    <select type="text" @onchange="PopulateFields">
    @foreach (Reservation reservation in reservations)
        {
            <option value="@reservation.ReservationCode">@reservation.ReservationCode</option>
        }
    </select>
</div>



<div style="margin-top: 15px; display: flex; flex-direction: column; justify-content: center; align-items: center;  height: 50vh; border: solid 1px; border-color: dimgray">
<p style="color: dimgray">-- search result --</p>
    <!--1st row-->
    <form style="display: flex; justify-content: center; margin-top: 10px;">
        <div>
            <label>Name: </label>
            <input type="text" @bind="cus_name">
        </div>
        <div style="margin-left: 20px;">
            <label>Guests: </label>
            <input type="number" placeholder="0" style="width: 40px" @bind="num_guest">
        </div>
        <div style="margin-left: 20px;">
            <label>Status: </label>
            <select type="text"@bind="status">
                <option>reserved</option>
                <option>done</option>
                <option>cancelled</option>
            </select>
        </div>
    </form>
    <!--2nd row-->
    <form style="display: flex; justify-content: center; margin-top: 20px;">
        <div>
            <label>Table Number: </label>
            <input type="text" placeholder="00" style="width: 40px;" @bind="table_num">
        </div>
        <div style="margin-left: 20px;">
            <label>Server Name: </label>
            <input type="text" placeholder="Firstname Lastname" @bind="serv_name">
        </div>
    </form>
    <!--3rd row-->
    <form style="margin-top: 30px;">
        <button style="width: 200px; margin-right: 10px;">Cancel</button>
        <button style="width: 200px; margin-left: 10px;" onclick="UpdateStatus" >Confirm</button>
    </form>
</div>

@code {
    Database database = new Database();
    List<Reservation> reservations = new List<Reservation>();
    List<Server> servers = new List<Server>();
    string cus_name = "";
    int num_guest;
    string status;
    int table_num;
    string serv_id;
    string res_code;
    string serv_name;
      
    protected override void OnInitialized()
    {
        reservations = database.FetchReservations();
        servers = database.FetchServers();
    }

    private string FindServerName(string serv_id)
    {
        foreach (Server server in servers)
        {
            if (serv_id == server.Server_id)
            {
                return server.Name;
            }
        }
        return null;
    }
    private void PopulateFields(ChangeEventArgs args)
    {
        foreach (Reservation reservation in reservations)
        {
            if (args.Value.ToString() == reservation.ReservationCode)
            {
                cus_name = reservation.CustomerName;
                num_guest = reservation.GuestAmount;
                status = reservation.Status;
                table_num = reservation.TableNumber;
                serv_id = reservation.ServerID;
                res_code = reservation.ReservationCode;
                serv_name = FindServerName(reservation.ServerID);
                break;
            }
        }
    }
      
    private void UpdateStatus()
    {
        database.UpdateReservationStatus(res_code, status);
    }
}
